@page "/register"
@model DotNetWebsite.Pages.Account.RegisterModel

@{
	if (Request.Method == "POST")
	{
		if (Model.Taken)
		{
			<div>
				<p>This username has already been taken</p>
			</div>
		}
		else if (!ModelState.IsValid)
		{
			<div>
				<p>Please make sure all entered information is valid and correct</p>
			</div>
		}
		else
		{
			<div>
				<p>Succesfully Registered your account with the name "@Model.Username"</p>
			</div>
		}
	}
}

<form method="post">
	<input type="text" asp-for="@Model.Username"/>
	@Html.ValidationMessageFor(m => m.Username)
	<input type="password" asp-for="@Model.Password"/>
	@Html.ValidationMessageFor(m => m.Password)
	<input type="password" asp-for="@Model.ConfirmPassword"/>
	@Html.ValidationMessageFor(m => m.ConfirmPassword)
	<input type="submit"/>
</form>