@page "/contact"
@model DotNetWebsite.Pages.Home.ContactUsModel

@if(ModelState.IsValid)
{
	<div style="background-color: green;">
		<p>The contact request was successfully sent</p>
	</div>
}

<form method="post">
    <input asp-for="@Model.FirstName" type="text" />
	@Html.ValidationMessageFor(m => m.FirstName)
    <input asp-for="@Model.LastName" type="text" />
	@Html.ValidationMessageFor(m => m.LastName)
    <input asp-for="@Model.Email" type="email" />
	@Html.ValidationMessageFor(m => m.Email)
    <input asp-for="@Model.Telephone" type="tel" />
	@Html.ValidationMessageFor(m => m.Telephone)
    <input asp-for="@Model.Address" type="text"/>
	@Html.ValidationMessageFor(m => m.Address)
    <textarea asp-for="@Model.Message"></textarea>
	@Html.ValidationMessageFor(m => m.Message)
    <button action="submit">Send</button>
</form>