@page "/movie/{id:int}"
@model DotNetWebsite.Pages.Movie.MovieModel

@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager

@{
    ViewData["Title"] = $"{Model.Movie.Title} ({Model.Movie.Year})";
}

<link rel="stylesheet" href="../../css/site.css">


<div class="frame">
    <img class="poster" src=@Html.DisplayFor(model => model.Movie.Poster)>
</div>

<div class="information">
    <h1>@Html.DisplayFor(model => model.Movie.Title)</h1>
    <p>@Html.DisplayFor(model => model.Movie.Synopsis)</p>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Director)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Director)
        </dd>
        <dt class="col-sm-2">
            Release Year
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Year)
        </dd>
        <dt class="col-sm-2">
            Duration
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Length) min
        </dd>
    </dl>
</div>

@if(SignInManager.IsSignedIn(User))
{
    @if (User.IsInRole("Admin"))
    {
        <div>
            <a asp-page="/Movie/Manage/Edit" asp-route-id="@Model.Movie.Id">edit</a>
        </div>
    }
}