@page "/Movie/{id:int}"
@model DotNetWebsite.Pages.Movie.MovieModel

@{
    ViewData["Title"] = $"{Model.Movie.Title} ({Model.Movie.Year})";
}

<link rel="stylesheet" href="../../css/site.css">

<h1>@Html.DisplayFor(model => model.Movie.Title)</h1>

<div>
    <p>@Html.DisplayFor(model => model.Movie.Synopsis)</p>
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Movie.Director)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Director)
        </dd>
        <dt class="col-sm-2">
            Release Year
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Year)
        </dd>
        <dt class="col-sm-2">
            Duration
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Movie.Length) min
        </dd>
    </dl>
    <img id="preview" src="https://www.boekenvoordeel.nl/media/catalog/product/cache/1/image/400x567.01030927835/9df78eab33525d08d6e5fb8d27136e95/4/2/428195.png">
</div>
